
@media screen and (min-width: 450px) {
    .header-menu {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .nav-list {
        width: 200px;
        height: 600px;
        text-align: center;
        background-color: #01123d;
        position: absolute;
        transform: translate( -700px, 50px);
        transition: transform 0.4s ease-in-out;
        background-color: rgb(132, 148, 135);
    }
    .nav-list > li {
        display: block;
        padding: 15px 16px;
    }  
    .nav-list > li > a {
        display: block;
        padding: 15px 16px;
    } 
    .open {
        transform: translate( -270px, 50px );
    }
}
@media screen and (max-width: 900px) {
    aside, .content, .title-article {
        width: 100%;
    }
}